$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-1: #36454f;
$primary-color-2: #62a9d9;
$primary-color-3: #8cd1ff;

$secondary-color-1: #8c6123;
$secondary-color-2: #d9a862;

$base-color-1: black;
$base-color-2: white;

$background-color-1: #fefbea;
